# PicUploader project files
.idea
.DS_Store
/.tmp/

/accessorys/mkcert/
/accessorys/PicUploaderHelper/key_log.txt
/accessorys/PicUploaderHelper/PicUploader.py
/accessorys/PicUploaderHelper/PicUploader.php
/accessorys/PicUploaderHelper/PicUploader-local.php
accessorys/PicUploaderHelper/PicUploaderHelper.log
accessorys/PicUploaderHelper/PicUploaderHelper-start.sh

/auth/FlickrRedirect.php

/uploader/token/
/config/config-local.php
/config/.settings
/config/.config.json
/config/google-drive-config.json
/db
/logs/

/uploads
/uploader/UploadCoroutine.php
/uploader/UploadCtyun.php
/uploader/UploadXrcloud.php
/uploader/UploadFlickr.php

/.tags
/.tags_sorted_by_file